src/main/mule/hello.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<configuration-properties doc:name="Configuration properties" doc:id="19785c92-8a4f-4c52-af39-f41f49e6006f" file="hello-appln.properties" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="46da9d6f-2f0e-4c38-a64f-953b20cdad64" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="helloFlow" doc:id="16dab1ab-6626-49c7-952e-86983a3c5f5a" >
		<http:listener doc:name="Listener" doc:id="199f6ab9-83fb-42dd-a9f2-94942a6bb26f" config-ref="HTTP_Listener_config" path="/helloAll"/>
		<set-payload value='#["Hello World All"]' doc:name="Set Payload" doc:id="92ed30a5-ffd3-4800-84c2-a074a76f0501" />
	</flow>
</mule>
